# Import libraries

In [96]:
import pandas as pd
import numpy as np

# Load data

In [97]:
# Load initial data extract
# PSEI data
psei = pd.read_csv('PSEI_daily.csv', parse_dates=['Date'])

# Retain only the 'Date' and 'Close' column
psei = psei[['Date','Close']]
psei.rename(columns={'Close': 'PSEI_Close'}, inplace=True)
display(psei.head())
# Sentiment scores data
sentiment = pd.read_csv('Sentiment_scores.csv', parse_dates=['date'])

# Retain only the 'date' and sentiment score column
sentiment = sentiment[['date','negative_score','neutral_score','positive_score']]
sentiment.rename(columns={'date': 'Date'}, inplace=True)
display(sentiment.head())

        Date   PSEI_Close
0 2014-01-02  5982.721191
1 2014-01-03  5946.400879
2 2014-01-06  5984.271484
3 2014-01-07  5945.911133
4 2014-01-08  5984.940918

/var/folders/tz/gs_7p8rj7tz_vx4snsdf_c2m0000gp/T/ipykernel_873/341064203.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sentiment = pd.read_csv('Sentiment_scores.csv', parse_dates=['date'])

        Date  negative_score  neutral_score  positive_score
0 2025-10-31        0.030444       0.026439        0.943117
1 2025-10-31        0.951726       0.037357        0.010917
2 2025-10-31        0.640162       0.348440        0.011398
3 2025-10-31        0.076924       0.573880        0.349196
4 2025-10-31        0.246589       0.612649        0.140762

In [98]:
# Generate only weekdays (business days)
dates = pd.date_range(start=psei['Date'].min(), end=psei['Date'].max())

# Put into a DataFrame
df = pd.DataFrame({'Date': dates})
display(df.head(10))
display(df.tail(10))

        Date
0 2014-01-02
1 2014-01-03
2 2014-01-04
3 2014-01-05
4 2014-01-06
5 2014-01-07
6 2014-01-08
7 2014-01-09
8 2014-01-10
9 2014-01-11

           Date
4310 2025-10-21
4311 2025-10-22
4312 2025-10-23
4313 2025-10-24
4314 2025-10-25
4315 2025-10-26
4316 2025-10-27
4317 2025-10-28
4318 2025-10-29
4319 2025-10-30

# Merge data

In [99]:
# Merge sentiment scores with the weekday DataFrame
df = df.merge(sentiment, on='Date', how='left')
display(df.head(10))
display(df.tail(10))

        Date  negative_score  neutral_score  positive_score
0 2014-01-02        0.276825       0.217057        0.506117
1 2014-01-02        0.990523       0.007294        0.002184
2 2014-01-02        0.006518       0.009167        0.984315
3 2014-01-02        0.013827       0.014615        0.971558
4 2014-01-02        0.002856       0.945195        0.051949
5 2014-01-02        0.978258       0.020832        0.000910
6 2014-01-02        0.674649       0.323615        0.001736
7 2014-01-02        0.157394       0.820257        0.022349
8 2014-01-02        0.002261       0.451456        0.546283
9 2014-01-02        0.040507       0.518737        0.440755

            Date  negative_score  neutral_score  positive_score
87739 2025-10-30        0.004936       0.538141        0.456923
87740 2025-10-30        0.022483       0.019998        0.957519
87741 2025-10-30        0.020518       0.017080        0.962403
87742 2025-10-30        0.018462       0.012709        0.968829
87743 2025-10-30        0.035878       0.499207        0.464916
87744 2025-10-30        0.020404       0.013100        0.966496
87745 2025-10-30        0.015467       0.395204        0.589329
87746 2025-10-30        0.001176       0.352620        0.646204
87747 2025-10-30        0.055872       0.768729        0.175399
87748 2025-10-30        0.178332       0.518849        0.302819

In [100]:
# Merge PSEI data
df = df.merge(psei, left_on='Date', right_on='Date', how='left')
display(df.head(10))
display(df.tail(10))

        Date  negative_score  neutral_score  positive_score   PSEI_Close
0 2014-01-02        0.276825       0.217057        0.506117  5982.721191
1 2014-01-02        0.990523       0.007294        0.002184  5982.721191
2 2014-01-02        0.006518       0.009167        0.984315  5982.721191
3 2014-01-02        0.013827       0.014615        0.971558  5982.721191
4 2014-01-02        0.002856       0.945195        0.051949  5982.721191
5 2014-01-02        0.978258       0.020832        0.000910  5982.721191
6 2014-01-02        0.674649       0.323615        0.001736  5982.721191
7 2014-01-02        0.157394       0.820257        0.022349  5982.721191
8 2014-01-02        0.002261       0.451456        0.546283  5982.721191
9 2014-01-02        0.040507       0.518737        0.440755  5982.721191

            Date  negative_score  neutral_score  positive_score   PSEI_Close
87739 2025-10-30        0.004936       0.538141        0.456923  5929.680176
87740 2025-10-30        0.022483       0.019998        0.957519  5929.680176
87741 2025-10-30        0.020518       0.017080        0.962403  5929.680176
87742 2025-10-30        0.018462       0.012709        0.968829  5929.680176
87743 2025-10-30        0.035878       0.499207        0.464916  5929.680176
87744 2025-10-30        0.020404       0.013100        0.966496  5929.680176
87745 2025-10-30        0.015467       0.395204        0.589329  5929.680176
87746 2025-10-30        0.001176       0.352620        0.646204  5929.680176
87747 2025-10-30        0.055872       0.768729        0.175399  5929.680176
87748 2025-10-30        0.178332       0.518849        0.302819  5929.680176

# Adjust dates

In [101]:
# Replace non-trading date to next trading date
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values('Date')

# Replace missing PSEI dates with NaT
df['Adjusted_Date'] = df['Date'].where(df['PSEI_Close'].notna())

# Backward fill to move missing dates to next non-missing date
df['Adjusted_Date'] = df['Adjusted_Date'].bfill()

# Sanity check after date adjustment
display(df.head(60))

,Date,negative_score,neutral_score,positive_score,PSEI_Close,Adjusted_Date
0,2014-01-02,0.276825,0.217057,0.506117,5982.721191,2014-01-02
15,2014-01-02,0.004238,0.156291,0.839471,5982.721191,2014-01-02
14,2014-01-02,0.015126,0.013808,0.971066,5982.721191,2014-01-02
13,2014-01-02,0.030475,0.205588,0.763937,5982.721191,2014-01-02
12,2014-01-02,0.032737,0.710131,0.257131,5982.721191,2014-01-02
10,2014-01-02,0.010725,0.936535,0.052740,5982.721191,2014-01-02
9,2014-01-02,0.040507,0.518737,0.440755,5982.721191,2014-01-02
8,2014-01-02,0.002261,0.451456,0.546283,5982.721191,2014-01-02
11,2014-01-02,0.027740,0.023420,0.948840,5982.721191,2014-01-02
6,2014-01-02,0.674649,0.323615,0.001736,5982.721191,2014-01-02
5,2014-01-02,0.978258,0.020832,0.000910,5982.721191,2014-01-02
4,2014-01-02,0.002856,0.945195,0.051949,5982.721191,2014-01-02
3,2014-01-02,0.013827,0.014615,0.971558,5982.721191,2014-01-02
2,2014-01-02,0.006518,0.009167,0.984315,5982.721191,2014-01-02
1,2014-01-02,0.990523,0.007294,0.002184,5982.721191,2014-01-02
7,2014-01-02,0.157394,0.820257,0.022349,5982.721191,2014-01-02
25,2014-01-03,0.028780,0.039412,0.931808,5946.400879,2014-01-03
31,2014-01-03,0.076912,0.883836,0.039252,5946.400879,2014-01-03
30,2014-01-03,0.005488,0.973926,0.020585,5946.400879,2014-01-03
29,2014-01-03,0.496291,0.500289,0.003420,5946.400879,2014-01-03
28,2014-01-03,0.034403,0.963468,0.002129,5946.400879,2014-01-03
27,2014-01-03,0.003618,0.030701,0.965681,5946.400879,2014-01-03
26,2014-01-03,0.049720,0.586339,0.363941,5946.400879,2014-01-03
24,2014-01-03,0.025225,0.308037,0.666739,5946.400879,2014-01-03
18,2014-01-03,0.988824,0.009218,0.001958,5946.400879,2014-01-03
22,2014-01-03,0.050994,0.652059,0.296947,5946.400879,2014-01-03
21,2014-01-03,0.019425,0.968254,0.012322,5946.400879,2014-01-03
20,2014-01-03,0.088220,0.847063,0.064717,5946.400879,2014-01-03
19,2014-01-03,0.040036,0.177299,0.782664,5946.400879,2014-01-03
17,2014-01-03,0.994705,0.004229,0.001065,5946.400879,2014-01-03
16,2014-01-03,0.011502,0.015218,0.973280,5946.400879,2014-01-03
23,2014-01-03,0.005553,0.010397,0.984050,5946.400879,2014-01-03
32,2014-01-04,NaN,NaN,NaN,NaN,2014-01-06
39,2014-01-05,0.962064,0.037233,0.000702,NaN,2014-01-06
41,2014-01-05,0.063474,0.210833,0.725693,NaN,2014-01-06
40,2014-01-05,0.939712,0.055553,0.004735,NaN,2014-01-06
38,2014-01-05,0.912043,0.083772,0.004186,NaN,2014-01-06
42,2014-01-05,0.030561,0.291721,0.677718,NaN,2014-01-06
36,2014-01-05,0.006877,0.666244,0.326879,NaN,2014-01-06
35,2014-01-05,0.004432,0.925895,0.069673,NaN,2014-01-06
34,2014-01-05,0.038649,0.764501,0.196849,NaN,2014-01-06
33,2014-01-05,0.037405,0.115017,0.847579,NaN,2014-01-06
37,2014-01-05,0.033955,0.610994,0.355050,NaN,2014-01-06
58,2014-01-06,0.984804,0.014253,0.000943,5984.271484,2014-01-06
57,2014-01-06,0.055538,0.181083,0.763379,5984.271484,2014-01-06
56,2014-01-06,0.010190,0.041918,0.947892,5984.271484,2014-01-06
55,2014-01-06,0.471895,0.495629,0.032476,5984.271484,2014-01-06
54,2014-01-06,0.172493,0.826753,0.000754,5984.271484,2014-01-06
53,2014-01-06,0.011823,0.178380,0.809797,5984.271484,2014-01-06
51,2014-01-06,0.020020,0.313020,0.666960,5984.271484,2014-01-06
52,2014-01-06,0.866398,0.125377,0.008226,5984.271484,2014-01-06
49,2014-01-06,0.016718,0.091006,0.892276,5984.271484,2014-01-06
48,2014-01-06,0.000830,0.991233,0.007937,5984.271484,2014-01-06
47,2014-01-06,0.013267,0.936800,0.049933,5984.271484,2014-01-06
46,2014-01-06,0.185959,0.801224,0.012817,5984.271484,2014-01-06
45,2014-01-06,0.047346,0.097940,0.854714,5984.271484,2014-01-06
44,2014-01-06,0.986566,0.010642,0.002792,5984.271484,2014-01-06
43,2014-01-06,0.028555,0.854523,0.116922,5984.271484,2014-01-06
50,2014-01-06,0.047617,0.030232,0.922151,5984.271484,2014-01-06
70,2014-01-07,0.918620,0.080712,0.000668,5945.911133,2014-01-07

# Fill missing data

In [102]:
# Using PSEI data, replace Saturday and Sunday NaN values with next Monday's values
df['PSEI_Close'] = df.groupby('Adjusted_Date')['PSEI_Close'].transform('first')

# Fill missing sentiment scores with 0
df[['negative_score','neutral_score','positive_score']] = df[['negative_score','neutral_score','positive_score']].fillna(0)

# Sanity check after filling missing data
display(df.iloc[380:420])

,Date,negative_score,neutral_score,positive_score,PSEI_Close,Adjusted_Date
369,2014-01-30,0.008609,0.990901,0.000490,6039.636719,2014-01-30
374,2014-01-30,0.895528,0.102799,0.001673,6039.636719,2014-01-30
392,2014-01-31,0.049133,0.695521,0.255346,6013.753418,2014-02-03
399,2014-01-31,0.637102,0.357127,0.005771,6013.753418,2014-02-03
398,2014-01-31,0.002847,0.994504,0.002649,6013.753418,2014-02-03
397,2014-01-31,0.994084,0.003204,0.002712,6013.753418,2014-02-03
396,2014-01-31,0.017680,0.013679,0.968641,6013.753418,2014-02-03
395,2014-01-31,0.008870,0.021888,0.969241,6013.753418,2014-02-03
394,2014-01-31,0.986748,0.010438,0.002814,6013.753418,2014-02-03
393,2014-01-31,0.097263,0.113211,0.789526,6013.753418,2014-02-03
391,2014-01-31,0.023776,0.287171,0.689053,6013.753418,2014-02-03
384,2014-01-31,0.043466,0.446466,0.510069,6013.753418,2014-02-03
389,2014-01-31,0.012168,0.125282,0.862550,6013.753418,2014-02-03
388,2014-01-31,0.018190,0.639956,0.341854,6013.753418,2014-02-03
387,2014-01-31,0.108068,0.142859,0.749073,6013.753418,2014-02-03
386,2014-01-31,0.025122,0.774448,0.200430,6013.753418,2014-02-03
385,2014-01-31,0.711069,0.270905,0.018027,6013.753418,2014-02-03
390,2014-01-31,0.989284,0.010395,0.000321,6013.753418,2014-02-03
383,2014-01-31,0.001849,0.019079,0.979072,6013.753418,2014-02-03
382,2014-01-31,0.980290,0.016388,0.003322,6013.753418,2014-02-03
400,2014-02-01,0.000000,0.000000,0.000000,6013.753418,2014-02-03
406,2014-02-02,0.022328,0.249839,0.727833,6013.753418,2014-02-03
405,2014-02-02,0.059084,0.904753,0.036164,6013.753418,2014-02-03
404,2014-02-02,0.966548,0.030441,0.003011,6013.753418,2014-02-03
401,2014-02-02,0.059271,0.530037,0.410693,6013.753418,2014-02-03
402,2014-02-02,0.041286,0.908988,0.049727,6013.753418,2014-02-03
403,2014-02-02,0.013926,0.964940,0.021134,6013.753418,2014-02-03
414,2014-02-03,0.006350,0.101528,0.892122,6013.753418,2014-02-03
416,2014-02-03,0.612035,0.377139,0.010827,6013.753418,2014-02-03
417,2014-02-03,0.052198,0.839158,0.108645,6013.753418,2014-02-03
415,2014-02-03,0.226068,0.667591,0.106341,6013.753418,2014-02-03
413,2014-02-03,0.000580,0.931130,0.068290,6013.753418,2014-02-03
408,2014-02-03,0.988117,0.008325,0.003558,6013.753418,2014-02-03
411,2014-02-03,0.984884,0.009773,0.005344,6013.753418,2014-02-03
410,2014-02-03,0.009026,0.017955,0.973019,6013.753418,2014-02-03
409,2014-02-03,0.021670,0.922991,0.055339,6013.753418,2014-02-03
407,2014-02-03,0.966774,0.024873,0.008353,6013.753418,2014-02-03
412,2014-02-03,0.006674,0.049270,0.944056,6013.753418,2014-02-03
428,2014-02-04,0.988084,0.008826,0.003090,5884.496582,2014-02-04
435,2014-02-04,0.635981,0.361707,0.002311,5884.496582,2014-02-04

# Define new variables

In [103]:
# List of aggregation functions and corresponding suffixes
agg_funcs = {
    'mean': 'mean',
    'std': 'sd',
    'max': 'max',
    'min': 'min'
}

# Columns to aggregate
score_cols = ['negative_score', 'neutral_score', 'positive_score']

# Loop over aggregation functions
for func_name, suffix in agg_funcs.items():
    # Compute daily aggregation
    daily_agg = df.groupby('Adjusted_Date', as_index=False)[score_cols].agg(func_name)
    
    # Rename columns with suffix
    daily_agg = daily_agg.rename(columns={col: f"{col}_{suffix}" for col in score_cols})
    
    # Merge back to original df
    df = df.merge(daily_agg, on='Adjusted_Date', how='left')

# Replace missing SD to 0
df[['negative_score_sd', 'neutral_score_sd', 'positive_score_sd']] = df[['negative_score_sd', 'neutral_score_sd', 'positive_score_sd']].fillna(0)

# Sanity check after merging
display(df.head())

,Date,negative_score,neutral_score,positive_score,PSEI_Close,Adjusted_Date,negative_score_mean,neutral_score_mean,positive_score_mean,negative_score_sd,neutral_score_sd,positive_score_sd,negative_score_max,neutral_score_max,positive_score_max,negative_score_min,neutral_score_min,positive_score_min
0,2014-01-02,0.276825,0.217057,0.506117,5982.721191,2014-01-02,0.204041,0.335875,0.460084,0.349626,0.349816,0.406488,0.990523,0.945195,0.984315,0.002261,0.007294,0.00091
1,2014-01-02,0.004238,0.156291,0.839471,5982.721191,2014-01-02,0.204041,0.335875,0.460084,0.349626,0.349816,0.406488,0.990523,0.945195,0.984315,0.002261,0.007294,0.00091
2,2014-01-02,0.015126,0.013808,0.971066,5982.721191,2014-01-02,0.204041,0.335875,0.460084,0.349626,0.349816,0.406488,0.990523,0.945195,0.984315,0.002261,0.007294,0.00091
3,2014-01-02,0.030475,0.205588,0.763937,5982.721191,2014-01-02,0.204041,0.335875,0.460084,0.349626,0.349816,0.406488,0.990523,0.945195,0.984315,0.002261,0.007294,0.00091
4,2014-01-02,0.032737,0.710131,0.257131,5982.721191,2014-01-02,0.204041,0.335875,0.460084,0.349626,0.349816,0.406488,0.990523,0.945195,0.984315,0.002261,0.007294,0.00091

# Clean data for modeling

In [104]:
# Remove variables that are needed for modeling
df = df.drop(columns=df.columns[[0,1,2,3]])

# Rearrange columns
cols = ['Adjusted_Date'] + [col for col in df.columns if col != 'Adjusted_Date']
df = df[cols]

# Retain one row per day
df = df.drop_duplicates()

# Check duplicate dates
print(df['Adjusted_Date'].value_counts()[lambda x: x > 1])

# Arrange in chronological order
df = df.sort_values(by='Adjusted_Date')

# Reset index
df.reset_index(drop=True, inplace=True)

# Sanity check for final df
display(df.head())

Series([], Name: count, dtype: int64)

,Adjusted_Date,PSEI_Close,negative_score_mean,neutral_score_mean,positive_score_mean,negative_score_sd,neutral_score_sd,positive_score_sd,negative_score_max,neutral_score_max,positive_score_max,negative_score_min,neutral_score_min,positive_score_min
0,2014-01-02,5982.721191,0.204041,0.335875,0.460084,0.349626,0.349816,0.406488,0.990523,0.945195,0.984315,0.002261,0.007294,0.000910
1,2014-01-03,5946.400879,0.182481,0.435609,0.381910,0.337079,0.402114,0.421648,0.994705,0.973926,0.984050,0.003618,0.004229,0.001065
2,2014-01-06,5984.271484,0.257377,0.361177,0.344409,0.384872,0.353648,0.380012,0.986566,0.991233,0.947892,0.000000,0.000000,0.000000
3,2014-01-07,5945.911133,0.418222,0.357461,0.224317,0.402849,0.319038,0.339315,0.993588,0.977389,0.952945,0.003253,0.005041,0.000668
4,2014-01-08,5984.940918,0.324551,0.315293,0.360156,0.400551,0.293200,0.380789,0.990555,0.975036,0.990120,0.003415,0.003924,0.001044

# Save data

In [105]:
# Save dataframe locally
df.to_csv("df_model.csv", index = False)